<%- include('../partials/header') %>

    <main class="container">
        <h1 class="text-center mb-4">Comment about <%= campground.name %></h1>
        
        <form class="w-50 m-auto" action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="comment[text]" placeholder="Text" required />
            </div>
            
            <div class="form-group">
                <input class="form-control" type="text" name="comment[author]" placeholder="Author" required />
            </div>
        
            <button class="btn btn-primary btn-block" type="submit">Post Comment</button>
            
            <a class="btn btn-link" href="/campgrounds/<%= campground._id %>">Go Back</a>
        </form>
    </main>

<%- include('../partials/footer') %>