extends ../base

block body
    div(class="container")
        div(class="row")
            div(class="col-lg-3 col-md-4 mb-3")
                p(class="lead").
                    YelpCamp <a class="btn btn-link align-middle" href="/campgrounds">Back</a>
                
                ul(class="list-group")
                    li(class="list-group-item active") Category 1
                    li(class="list-group-item") Category 2
                    li(class="list-group-item") Category 3
            
            div(class="col-lg-9 col-md-8")
                div(class="row")
                    div(class="col-lg-6")
                        figure(class="figure d-block")
                            img(class="figure-img img-fluid rounded" src=campground.image)/
                            
                            figcaption(class="figure-caption")
                                span(class="badge badge-pill badge-info float-right p-2 mb-2") #{campground.comments.length} Comments
                                
                    div(class="col-lg-6 mb-3")
                        div(class="card")
                            div(class="card-body")
                                h4(class="card-title")
                                    = campground.name
                                    span(class="badge badge-light float-right") $9.00/night
                                    
                                if (campground.headline)
                                    h6(class="card-subtitle mb-2 text-muted")= campground.headline
                                    
                                if (campground.description)
                                    p(class="card-text")= campground.description
                
                a(class="btn btn-info mb-3" href="/campgrounds/" + campground._id + "/comments/new") Add Comment
                
                if (campground.comments.length !== 0)
                    div(class="card-columns")
                         each comment in campground.comments
                             div(class="card mb-3")
                                 div(class="card-body")
                                     blockquote(class="blockquote mb-0")
                                         p(class="card-text text-center mb-2")
                                             small(class="lead text-muted font-italic") 10 days ago
                                        
                                         p= comment.text
                                        
                                         footer(class="blockquote-footer")
                                             small(class="text-muted")= comment.author